<div class="body-container">
    <u> <h1>Drugs!!!</h1> </u>
    <section class="default-section">
        <div class="information">
            <select name="nameofdrugs" onchange="location = `/drugs/${this.value}`">
                <% drugsNames.forEach(function (name) {  %>
                    <% if(drugs && drugs.pharmaceuticalName === name) {%>
                     <option selected value="<%= name %>"><%= name %></option>
                     <% } else { %>
                         <option value="<%= name %>"><%= name %></option>
                     <% } %>
             <% }) %>
         </select>
       </div>
   </section>
   <section class="default-section">
       <% if (messages.error) { %>
           <p class="alert alert-error">
               <%= messages.error%>
           </p>
           <% }%>
               <% if (messages.success) { %>
                   <p class="alert alert-success">
                       <%= messages.success%>
                   </p>
                   <% }%>
   </section>

   <form action="/addpharmacy" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>


</div>
</div>

</body>

</html>